<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="width: 100vh; height: 20vh;">
        <h3>
            Welcome!
        </h3>
    </header>
    <div style="width: 100vh; height: 60vh;">
        <h3>
            Main
        </h3>
    </div>
    <footer style="width: 100vh; height: 20vh;">
        <h3>
            Play!
        </h3>
    </footer>
</body>
</html>